<div class="container">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2> <span class="glyphicon glyphicon-user"></span> {{ user.username }} </h2>
        <table class="table">
          <tr> 
            <td> <b>Net Worth:</b> </td>
            <td> <span class="glyphicon glyphicon-credit-card"></span> ${{ networth }} </td> 
          </tr>

          <tr> 
            <td> <b>Liquid Assets:</b> </td>
            <td> <span class="glyphicon glyphicon-credit-card"></span> ${{ user.liquidAssets }} </td> 
          </tr>

        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2> <span class="glyphicon glyphicon-list-alt"></span> Transactions </h2>
        <table class="table">
          {{#each transactions}}
            <tr> 
              <td> <b>{{#if buy}}Bought{{else}}Sold{{/if}}</b> </td>
              <td> {{ tag }} </td> 
              <td> {{#if buy}}+{{else}}-{{/if}} ${{ quantity }} </td>
            </tr>
          {{/each}}

        </table>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Buy or Sell Coins </h2>
        <table class="table">
          {{#each coins}}
            <tr> 
              <td> <b>{{ title }}</b> </td>
              <td> <span class="glyphicon glyphicon glyphicon-piggy-bank"></span> {{ tag }} </td> 
              <td> ${{ price }} </td>
            </tr>
          {{/each}}
        </table>
        <form class="form-buy-sell" method="POST" name="buy-sell">
          <input class="form-control" type="text" name="tag" placeholder="Symbol"></input>
          <input class="form-control" type="text" name="quantity" placeholder="Quantity"></input>
          <input type="submit" value="Buy" class="btn btn-primary" href="/login" role="button" onclick="setBuy()"></input>
          <input type="submit" value="Sell" class="btn btn-default" href="/signup" role="button" onclick="setSell()"></input>
        </form>

        {{#if message}}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {{/if}}

      </div>
    </div>
  </div>

</div>

<script>

function setSell() {
  document.forms["buy-sell"].action = "/api/sell"; 
}

function setBuy() {
  document.forms["buy-sell"].action = "/api/buy"; 
}

</script>

